<p>Welcome to Leeds Trains.  To load a summary for a given day, use the following form.</p>
<form>
  <label for="date">Date<input type="date" name="date" value="<%= date %>" id="date"></label><br>
  <label for="station">Station<input type="text" name="station" value="LDS" maxlength="3" size="3" id="station"></label><br>
  <label for="unique">Show only services not appearing yesterday?<input type="checkbox" id="unique"></label><br>

  <button type="button" id="station_button">Display</button>
</form>


